<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel"><%= model_title %></h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div id="error"></div>
        <% if params[:action] == 'show' %>     
          <p>
            <strong>Title:</strong>
            <%= @book_app.title %>
          </p>

          <p>
            <strong>Price:</strong>
            <%= @book_app.price %>
          </p> 
        <% else %>
          <%= render 'book_model', book_app: @book_app %>
        <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>   
